footer
    .container
        a.logo(href="/") 
            img(src=img+"LOGO.svg", alt="")
        nav                                                    
            ul(id="menu-two")
                li 
                    a(href="#about") About
                li 
                    a(href="#curriculum") Course Curriculum 
                li 
                    a(href="#tariff") Tariff
                li 
                    a(href="#video") Video
                li 
                    a(href="#") Contacts                            
        .footer__contacts
            a(href="#") 
                img(src=img+"logos_whatsapp.svg", alt="")
            a(href="#")
                img(src=img+"logos_telegram.svg", alt="")
            a.footer__tell(href="tel:+79104178483") +7 910 417 84 83
        a.btn(href="#") Call to Action