header
    .container
        a.logo(href="/") 
            img(src=img+"LOGO.svg", alt="")
        input(type="checkbox" id="menu-bar")
        label.main-menu-btn-icon(for="menu-bar") 
        nav.navbar                                                     
            ul(id="menu")
                li 
                    a(href="#about") About
                li 
                    a(href="#curriculum") Course Curriculum 
                li 
                    a(href="#tariff") Tariff
                li 
                    a(href="#video") Video
                li 
                    a(href="#") Contacts                            
        .header__contacts
            a(href="#") 
                img(src=img+"logos_whatsapp.svg", alt="")
            a(href="#")
                img(src=img+"logos_telegram.svg", alt="")
            a.header__tell(href="tel:+79104178483") +7 910 417 84 83
        a.btn(href="#") Call to Action